﻿@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.GridPager a,
.GridPager span {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.GridPager span {
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    border: 1px solid #3AC0F2;
}

.lblDefined {
    text-align: center;
}
.CatReport {
    
}
.lblVendor {
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: normal;
    position: relative;
    top: 3px;
}
.editcontent {
    background-color: #B0B0B0;
    padding: 5px 15px;
    margin-top: 0px;
    margin: 0px 0px 2px 0px;
    width: 100%;
    display: block;
}
.lblwrap {
    text-align: right;
    white-space: nowrap;
}
.popuptext {
    margin-left: 220px;
}
.popupdesc {
    width: 460px;
    margin: 10px 46px 0px 46px;
}
.popupbtn {
    margin-left: 386px;
}
.ui-button-text {
    display: none;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    display: none;
}
.page-title {
    margin-top: 50px;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
}
td, th {
    padding: 0.5em;
}
td {
    font-weight: 500;
}
input[type=image] {
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 20%);
    padding: 4px;
    border: 1px solid #b9b9b9;
}
input[type=image]:hover {
    background: #efefef;
}
#MainContent_grdVendorDisplay tr th:nth-child(2), #MainContent_grdVendorDisplay tr th:nth-child(3) {
    text-align: center;
}
.pagination a:not(:first-child, :last-child) {
    min-width: 30px;
}
.pagination {
    width: 100%;
    text-align: center;
}
.pagination a {
    padding: 5px;
    border: 1px solid #cccccc;
    display: inline-block;
    text-align: center;
    line-height: normal;
    height: 30px;
    text-decoration: none;
    font-weight: 500;
    color: #333333;
    background: #e7e7e7;
    margin-left: 2px;
    margin-right: 2px;
}
.pagination a:first-child, a:last-child {
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
}
#MainContent_grdVendorDisplay th a:first-child, a:last-child {
    padding-left: 0px;
    padding-right: 0px;
}
.pagination .aspNetDisabled {
    color: #a1a1a1;
}
.pagination a:hover:not(.aspNetDisabled) {
    background: #cdcdcd;
}
#MainContent_editinputcontent input[type=submit] {
    font-weight: 600;
    padding: 5px 10px;
}
.vendorfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.vendorfooter .col-md-7 {
    text-align: right;
}
.arrowbtn {
    width: 90px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}
.movecategory {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
footer p {
    margin-top: 10px;
}
.updatecontentfootbox {
    background-color: #c0c0c0;
    padding: 15px;
    max-width: 88%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.updatecontentfootbox .container {
    width: 100%;
}
.pnlbuttons {
    text-align: right;
}
.pnlbuttons input {
    padding: 0.4em 0.5em;
    width: 140px;
    margin-bottom: 5px;
}
 #MainContent_updateCategory input {
    width: 100%;
}
.min-container + footer .container  {
    max-width: 970px;
}
#MainContent_updateCategory input {
    padding: 0.4em 0.5em;
}
#MainContent_updateCategory span {
    margin-top: 0.4em;
    display: inline-block;
}
#MainContent_btn_min100, #MainContent_btn_max100 {
    min-width: 75px;
    height: 35px;
}
#pnlVendorGrid .row {
    margin-bottom: 10px;
}
.updatecontentfootbox span {
    font-weight: 600;
}
.updatecontentfootbox .col-md-6 {
    text-align: center;
}
.updatecontentfootbox .col-md-6 input {
    font-size: 25px;
    font-weight: 600;
}
.update-page-title h3 {
    margin-top: 50px;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 30px;
    
}
.lblError {
    color: green;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman';
    margin-right: -388px;
    position: relative;
    top: 0px;
    text-align: right;
}
.Background {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.lblValueEnter{
    font-size:15px;
    font-weight:bold;
}
.Popup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 400px;
    height: 350px;
}

.lbl {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}  
.vendordisptable {
    overflow-x: scroll;
}
.vendordisptable table {
    min-width: 420px;
}
.MainContent_grdVendor {
    width: 100% !important
}
.MainContent_grdNewVendor {
    width: 100% !important
}
.close {
    font-size: 28px;
    opacity: 0.5;
}
.modal {
    text-align: center;
    padding: 0 !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal #MainContent_txt_Desc {
    margin-top: 15px;
    width: 100%;
}
.modal #MainContent_txt_VCategory {
    width: 100%;
}
.modal #MainContent_txt_VendorNo {
    width: 100%;
}
.modal input[type=text] {
    padding: 0.4em 0.5em;
}
.openBtn, .openBtn1 {
    padding: 0.4em 0.5em;
}
.updatevendorbtngroup {
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
}
.updatevendorbtngroup input[type=image] {
    box-shadow: none;
    border: 0;
    width: auto;
}
#MainContent_grdVendor tbody tr:not(:first-child) td:first-child {
    text-align: center;
}
#MainContent_grdNewVendor tbody tr:not(:first-child) td:first-child {
    text-align: center;
}
/* Responsive: Portrait tablets and up */
@media (min-width: 1200px) {
    .min-container.container {
        width: 970px;
    }

    #MainContent_updateCategory input:not([type=submit]) {
        position: relative;
        left: 20px;
    }

    #MainContent_updateCategory .col-lg-4 span {
        position: relative;
        left: 20px;
    }

    #MainContent_updateCategory .row {
        margin-bottom: 10px;
    }

    /*.updatevendorbtngroup {
        width: 9.66666667%;
        padding-left: 0;
        padding-right: 0;
    }

    #pnlVendorGrid .updatelbl {
        width: 40.33333333%;
    }*/
    .grdvendorscroll {
        overflow-x: scroll;
    }
}
@media (min-width: 992px) {
    /*.updatevendorbtngroup {
        width: 11.66666667%;
        padding-left: 0;
        padding-right: 0;
    }
    #pnlVendorGrid .updatelbl {
        width: 38.33333333%;
    }*/
}
@media (max-width: 1200px) {
    .openBtn, .openBtn1 {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #MainContent_updateCategory input[type=submit] {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .updatecontentfootbox {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    .updatevendorbtngroup {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .updatecontentfootbox input {
        width: 100% !important;
    }

    .vendorfooter .col-md-5 {
        margin-top: 10px;
    }

    .vendorfooter .col-md-7 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .update-page-title h3, .page-title {
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    #MainContent_pnlButtons .container {
        text-align: center;
    }

    footer p {
        text-align: center;
    }
}

@media (max-width: 575px) {
    #MainContent_lblVendor {
        display: block;
        text-align: left;
        font-size: 20px;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .updatecontentfootbox {
        max-width: 100%;
    }

    .vendorfooter .col-md-5 input[type=submit] {
        width: 100%;
        margin-bottom: 5px;
    }

    #MainContent_txt_SearchVendor {
        width: 100%;
    }

    #MainContent_btnFind, #MainContent_btnReset {
        width: 50%;
    }

    #MainContent_btnFind {
        float: left;
    }
}